
.card-title {
    font-family: $font-title;
    font-size: 1.3em;
    color: $extra-dark;
}

//also user-card-body
.card-text {
    font-family: $font-text;
    font-size: 1em;
    font-weight: 700;
    color:$extra-dark;
}

//this affects all cards images
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;

    @media only screen and (max-width: 400px) {
        min-height: 10em;
      }
}

// Card genre and event

.card-event {
    @include bg-user();


    .card-body {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1em; 
        font-family: $font-title;

        a {
            text-decoration: none;
            margin: 0.2;
            font-size: 1em;
            color: $extra-light;

            a:hover {
                color: $extra-dark;
            }
        } 
    }

    .buttons-edit {
        margin: 0.2rem;
    }
   
}