
.card-title {
    font-family: $font-title;
    font-size: 1.5em;
    color: $extra-light;
}

//also user-card-body
.card-text {
    font-family: $font-text;
    font-size: 1em;
    font-weight: 700;
    color: black;
}

.card-body {
    background-color: $secondary;
}

.card-img-top {
    width: 100%;
    object-fit: cover;

    @media only screen and (max-width: 400px) {
        min-height: 10em;
      }
}

// Card genre

.card-genre {
    display: flex;
    flex-direction: row;

    .card-body {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1em; 

        h5{
            margin: 0.2;
            font-size: 1em;
        }

        .buttons-edit {
            margin: 0.5em;
        }
    }
}


.card-event {
    display: flex;
    flex-direction: row;

    .card-body {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1em; 
        font-family: $font-title;


        a {
            text-decoration: none;
            color: $extra-light;
        }


        h5{
            margin: 0.2;
            font-size: 1em;
        }

        .buttons-edit {
            margin: 0.5em;
        }
    }
}