.comments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.2em solid black;
}

// #comment {
//     resize: both;
//     overflow: auto;
// }

.comments-reply {
    padding-left: 5em;
}

.comment-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: $primary;
    .user-name {
        font-family: $font-title;
        color: $extra-light;
    }
}

.comment-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: $dark;
    color: $light;
}

#comment-reply {

    background-color: $light;
    color: $dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;

    .form-group .reply {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1em;
    }

}
