// Typography
a {
    text-decoration: none;
    color: inherit;

    a:link {
        text-decoration: none;
        color: $secondary;
    }
    A:visited {text-decoration: none; 
    }
    A:hover {text-decoration: none; 
    }
    A:active {text-decoration: none; 
    }
    
}

h1 {
    font-family: $font-title;
    font-size: 4em;
}

h2{
    font-family: $font-title;
    font-size: 2.5em;
}
h3 {
    font-family: $font-title;
    font-size: 2em;
}
h4 {
    font-family: $font-text;
    font-size: 1.5em;
    font-weight: 700;
}
h5 {
    font-family: $font-text;
    font-size: 1rem;
    font-weight: 700;
}

h6 {
    font-family: $font-text;
    font-style: italic;
}

.description{
    font-family: $font-text;
    font-size: 1rem;
    line-height: 1.6rem; 
}

// .lead {
//     font-family: $font-text;
//     font-size: 1em;
//     line-height: 1em;
//     display: flex;
//     flex-direction: column;
//     align-self: flex-end;
//     text-align: left;
// }