.footer {
    background-color: $extra-dark;
    color: $light;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-items: center;
    text-align: center;
    width: 100%;
}


.footer_sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

@media (max-width: 600px) {
    .footer_sections {
        display: flex;
        flex-direction: column;
    }
  }

.footer_section {
    margin: 2em;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
     h5 {
         text-align: center;
         margin-bottom: 0.5em;
     }
}

.social-icons {
    display: flex;
    flex-direction: row;
    font-size: 2em;

    .fab {
        margin-left: 0.5em;
    }
}