.game-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "header header header "
                       "pic text text";

    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    margin-bottom: 2rem;
    padding: 0 3rem;

    .lead {
        margin-bottom: 2rem;
    }
    
    img {
        max-width: 100%;
        object-fit: cover;
    }
}

.title {
    grid-area: header;
    margin-bottom: 1rem;

    @media (max-width: 900px) {
        font-size: 3em;
        }

        @media (max-width: 600px) {
            font-size: 2em;
            }
}

.text {
    grid-area: text;
}

.pic {
    grid-area: pic;
}


@media (max-width: 600px) {
     .game-detail {
         display: flex;
         flex-direction: column;
         padding: 0.5em;
     }
    }

    .search-result {
        
        a {
            color: $extra-light;
        }

        &:active {
            color: $light;
        }

        &:hover {
            color: $extra-dark;
        }

    }

