// .location-card {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     margin: 2em;
// }

.location-detail {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: auto auto;
    grid-template-areas: "header header "
        "maprouter text";

    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    padding: 0 3rem;

    a {
        color: $primary;

        &:hover {
            color: $extra-dark;
        }
    }

    @media (max-width: 600px) {
        padding: 0.5em;
        }

    .lead {
        margin-bottom: 2rem;
        margin-top: 2em;
    }
}

    .title {
        grid-area: header;
        margin-bottom: 1rem;

        @media (max-width: 600px) {
            font-size: 1.2em;
        }
    }

    .text {
        grid-area: text;
    }

    .maprouter {
        grid-area: maprouter;
    }


    @media (max-width: 600px) {
        .location-detail {
            display: flex;
            flex-direction: column;
        }
    }
