.navbar {
    background-color: $extra-dark;
    color: $light;
    font-size: 0.9em;
    font-family: $font-text;

    .navbar-toggler-icon {
        color: $tertiary;
    }

    a {
        color: $light;
        padding-bottom: 0.2em;
        margin-bottom: 0.3em;

        &:hover {
            color: $tertiary;
            border-bottom: 0.07em solid $tertiary;
            //change the effect
        }

        &:active {
            color: $tertiary;
        }
    }
}

//secondary navbar
.sec-navbar {
    background-color: $tertiary;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3em;
    padding: 0.6em 3em 0.4em 3em;
    justify-content: space-between;

    .pagination {
        margin-bottom: 0;
    }

    h2 {
        color: $extra-light;
        font-size: 1.7em;
    }

    //Not working fix/kkeeping this just for the class
    .title-bar {

        @media only screen and (max-width: 400px) {
            font-size: 1em;
            padding: 0.1em;
        }
    }
}

//////toggler color not working! fix!
.fa fa-navicon {
    color: $light;
}

//sets the modal toalways be on top
div.modal div.modal-backdrop {
    z-index: 0;
}

.alert {
    position: fixed !important;
    top: 0px !important;
    left: 0px;
    width: 100%;
    z-index: 9999;
    border-radius: 0px
}
