.navbar {
    background-color: $extra-dark;
    color: $light;
    font-size: 0.9em;
    font-family: $font-text;

    .navbar-toggler-icon {
        color: $light;
    }

    a {
        color: $light;

        &:hover {
            color: $light;
            border-bottom: 0.1em solid $light;
            //change the effect
        }

        &:active {
            color: $secondary;  
        }
    }  
}
//secondary navbar
.sec-navbar {
    background-color: $light;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3em;
    padding: 0.7em 3em 0.5em 3em;
    justify-content: space-between;

    .pagination {
        margin-bottom: 0;
    }
    
    //Not working fix
    .btn-sm {
        @media only screen and (max-width: 600px) {
            font-size: 0.3em;
            padding: 0.2em;
          }
    }
}


//////toggler color not working! fix!
.fa fa-navicon{  
    color: $light;
}

//sets the modal toalways be on top
div.modal div.modal-backdrop {
    z-index: 0;
}



