
.user-img-circle {
    padding: 2em 3em 2em 3em;  

    height: auto;
}

.user-card-body {
    background-color: lightgrey;
}


.user-profile {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.user-profile-pic {
    width: 10em;
    height: auto;
}

.user-collection {
    display: flex;
    flex-direction: row;
}

.user-genres {
    display: flex;
    flex-direction: row;
}

.user-events {
    display: flex;
    flex-direction: row;
}

.user-events-attend {
    display: flex;
    flex-direction: row;
}