.user-profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin-top: 3em;
    @media only screen and (max-width: 400px) {
        margin-top: -3em;
    }
}


.user-profile-left {
    position: absolute;
    top: 6em;
    z-index: 6999;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    @media only screen and (max-width: 400px) {
        flex-direction: column;
        position: relative;
        top:0;
    }

    .username {
        background-color: $extra-dark;
        color: $light;
        padding: 0.5em;
    }

    .img-detail {
        padding: 2em 2em 2em 2em;
        height: 20em;
        width: 20em;
    }
}


.user-card-body {
    background-color: lightgrey;
}

.user-profile-right {
    display: flex;
    flex-direction: column;
    justify-items: center;
    position: relative;
    background-color: $tertiary;
    color: $extra-light;
    padding: 2em;
    padding-top: 6em;

    @media only screen and (max-width: 400px) {
        padding-top: 2em;
    }

    .lead {

        p {
            font-size: 0.9em;
            color: $extra-light;
        }
    }
}


.user-img-circle {
    width: 10em;
    height: auto;
    display: flex;
    align-self: center;
    padding: 0.5em;
}

.user-collection {
    display: flex;
    flex-direction: row;
}

.user-genres {
    display: flex;
    flex-direction: row;
}

.user-events {
    display: flex;
    flex-direction: row;
}

.user-events-attend {
    display: flex;
    flex-direction: row;
}

.user-profile-pic-big {
    max-width: 20em;
    height: auto;
}

//user profile detail

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    .card {
        flex: 0 0 auto;
    }
}
