
// Body
$body-bg: #f8fafc;

// Typography
$font-title: 'Roboto Slab', serif !important;
$font-text: 'Assistant', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #69CEB1;
$secondary: #11389B;
$tertiary:#F25B24;
$dark: #393E41;
$extra-dark: #212426;
$light: #D3D0CB;
$extra-light: #F4F1EB;

//Media queries
$break-small: 320px;
$break-large: 1200px;