// Body
$body-bg: #f8fafc;

// Colors
$primary: #DB4D29;
$secondary: #2CAEBB;
$tertiary:#160455;
$dark: #393E41;
$extra-dark: #212426;
$light: #D3D0CB;
$extra-light: #F4F1EB;

$red: #C41E3D;
$green: #53DD6C;
$yellow: #E6C229;
$blue: #3E7CB1;

@mixin bg-user {
    background: rgb(219, 77, 41);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(219, 77, 41, 1) 1%, rgba(214, 99, 0, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(219, 77, 41, 1) 1%, rgba(214, 99, 0, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(219, 77, 41, 1) 1%, rgba(214, 99, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db4d29', endColorstr='#d66300', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    
}


//Media queries
$break-small: 320px;
$break-large: 1200px;

//Fonts

$font-title: 'Poppins', sans-serif;
$font-text: 'Assistant', sans-serif;

$font-size-base: 0.9rem;
$line-height-base: 1.5;