
// Body
$body-bg: #f8fafc;

// Typography
$font-title: 'Roboto Slab', serif !important;
$font-text: 'Assistant', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #265DCC;
$secondary: #D65108;
$tertiary: #058ED9;
$dark: #2B2828;
$light: rgb(255, 251, 242);

//Media queries
$break-small: 320px;
$break-large: 1200px;