h2.title_welcome {
    display: inline-block;
    font-family: $font-title;
    font-size: 4em;
    background-color: $extra-dark;
    color: $extra-light;
    padding: 0.3em 0.5em;

    @media screen and (max-width: $break-small) {
      font-size: 2em;
    }
}

h3.subtitle_welcome {
    font-family: $font-title;
    font-size: 2em;
    display: inline-block;
    background-color: $extra-light;
    color: $extra-dark;
    padding: 0.3em 0.5em;

    @media only screen and (max-width: 600px) {
      font-size: 1em;
    }
}

.logotag {
    font-family: $font-title;
    font-size: 2em;
    text-align: center;
    background: linear-gradient(45deg, #058fd9b2, #d65008a1), url("../images/bgpic1.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 6em;
}

.welcome {
  min-height: 25em;
  background-color: #265DCC;
  padding: 5em;
}

.section_events {
  background: linear-gradient(45deg, #f4ebd9c2, #058fd9d0), url("../images/bgpic1.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}

.section_games {
  background: linear-gradient(45deg, #058fd9b2, #d65008a1), url("../images/bgpic1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  text-align: right;
}

.section_connect {
  background: linear-gradient(45deg, #265dccbe, #f4ebd9b6), url("../images/bgpic1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.section_login {
  background-color: #D65108;
  text-align: center;
}
