
@import url('https://fonts.googleapis.com/css?family=Assistant:400,700|Roboto+Slab:400,700" rel="stylesheet');
    //<link href="https://fonts.googleapis.com/css?family=Assistant:400,700|Roboto+Slab:400,700" rel="stylesheet">
   
@import 'variables';
@import 'events';
@import 'footer';
@import 'shortpage'; //fix this
@import 'user';
@import 'welcome';
@import 'variables';
@import 'navbar';
@import 'games';

* {
    box-sizing: border-box;
  }

html { 
  height: 100%; 
}
  
body {
        margin: 0;
        padding-top: 5em;
}
