
@import url(https://fonts.googleapis.com/css?family=Poppins:800,900|Assistant:400,700);

@import 'variables';
@import 'events';
@import 'footer';
@import 'shortpage'; //fix this
@import 'user';
@import 'welcome';
@import 'variables';
@import 'navbar';
@import 'games';
@import 'comments';
@import 'fonts';
@import 'buttons';
@import 'card';
@import 'location';
@import 'rating';

//General 

* {
    box-sizing: border-box;
}

html {
  height: 100%;
}

body {
    margin: 0;
    font-family: $font-text;
    background-color: $extra-light;
    font-size: 0.9em;
    line-height: 1.1em;

    .container {
        padding-top: 5em;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    justify-items: space-between;
    padding: 1em 3em 1em 3em;
  

    @media only screen and (max-width: 900px) {
        grid-template-columns: 1fr 1fr;
        padding: 1em 1em 1em 1em;
      }
      
      @media only screen and (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
        padding: 1em 1em 1em 1em;
      }

      @media only screen and (max-width: 400px) {
        grid-template-columns: 1fr;
        padding: 1em 1em 1em 1em;
      }
  }


//horizontal scrolling

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
}
