@import url('https://fonts.googleapis.com/css?family=Assistant:400,700|Roboto+Slab:400,700" rel="stylesheet');
//<link href="https://fonts.googleapis.com/css?family=Assistant:400,700|Roboto+Slab:400,700" rel="stylesheet">

@import 'variables';
@import 'events';
@import 'footer';
@import 'shortpage'; //fix this
@import 'user';
@import 'welcome';
@import 'variables';
@import 'navbar';
@import 'games';
@import 'comments';

//General 

* {
    box-sizing: border-box;
}

html {
    height: 100%;

}

body {
    margin: 0;
    font-family: $font-text;

    .container {
        padding-top: 5em;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    justify-items: space-between;
    padding: 1em 3em 1em 3em;

    @media only screen and (max-width: 900px) {
        grid-template-columns: 1fr 1fr;
        padding: 1em 1em 1em 1em;
      }
      
      @media only screen and (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
        padding: 1em 1em 1em 1em;
      }

      @media only screen and (max-width: 400px) {
        grid-template-columns: 1fr;
        padding: 1em 1em 1em 1em;
      }
  }

//text

p {
    line-height: 0.8em;
    margin-bottom: 0.5em;
}

h1 {
    font-family: $font-title;
    font-size: 3em;
}

h2{
    font-family: $font-title;
    font-size: 2.5em;
}
h3 {
    font-family: $font-title;
    font-size: 2em;
}
h4 {
    font-family: $font-text;
    font-size: 1.5em;
    font-weight: 700;
}
h5 {
    font-family: $font-text;
    font-size: 1.5em;
}

h6 {
    font-family: $font-text;
    font-style: italic;
}


//Buttons

.buttons-edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
  margin-top:auto;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.btn-icon {
    padding: 0.4em !important;
    font-size: 0.6em !important;
    width: 3em;
    height: 3em;
}

.btn-xs {
    padding: 0.4em !important;
    font-size: 0.6em !important;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
}