@import url(https://fonts.googleapis.com/css?family=Poppins:800,900|Assistant:400,700);.search-bar-events form {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
  color: #F4F1EB;
}

#datetimepicker4, #locationpicker4 {
  margin-right: 0.5rem;
}
@media only screen and (max-width: 400px) {
  #datetimepicker4, #locationpicker4 {
    margin-bottom: 0.4rem;
  }
}
#datetimepicker4 input, #locationpicker4 input {
  font-size: 0.8rem;
  padding: 0.2rem 0em;
  height: calc(1.5em + .5rem + 2px);
}

.search-bar-events-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media only screen and (max-width: 450px) {
  .search-bar-events-inputs {
    display: flex;
    flex-direction: column;
  }
}
.search-bar-events-inputs select.form-control, .search-bar-events-inputs div, .search-bar-events-inputs input {
  font-size: 0.8rem;
}

.attendee img {
  width: 80%;
  height: auto;
}

.event-detail {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "header header " "pic text";
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  margin-bottom: 2rem;
}
.event-detail .lead {
  margin-bottom: 2rem;
}
.event-detail img {
  max-width: 40em;
}

.title {
  grid-area: header;
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  .title {
    font-size: 1.2em;
  }
}

.text {
  grid-area: text;
}

.pic {
  grid-area: pic;
}

@media (max-width: 600px) {
  .game-detail {
    display: flex;
    flex-direction: column;
  }
}
.footer {
  background-color: #212426;
  color: #D3D0CB;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-items: center;
  text-align: center;
  width: 100%;
}

.footer_sections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .footer_sections {
    display: flex;
    flex-direction: column;
  }
}
.footer_section {
  margin: 2em;
  text-decoration: none;
  list-style-type: none;
  text-align: left;
}
.footer_section h5 {
  text-align: center;
  margin-bottom: 0.5em;
}

.social-icons {
  display: flex;
  flex-direction: row;
  font-size: 2em;
}
.social-icons .fab {
  margin-left: 0.5em;
}

/* Short Page */
.shortpage {
  background-color: #D3D0CB;
  min-height: 90vh;
}

.user-profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin-top: 3em;
}
@media only screen and (max-width: 400px) {
  .user-profile {
    margin-top: -3em;
  }
}

.user-profile-left {
  position: absolute;
  top: 6em;
  z-index: 6999;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media only screen and (max-width: 400px) {
  .user-profile-left {
    flex-direction: column;
    position: relative;
    top: 0;
  }
}
.user-profile-left .username {
  background-color: #212426;
  color: #D3D0CB;
  padding: 0.5em;
}
@media only screen and (max-width: 400px) {
  .user-profile-left .username {
    font-size: 3rem;
  }
}
.user-profile-left .img-detail {
  padding: 2em 2em 2em 2em;
  height: 20em;
  width: 20em;
}

.user-card-body {
  background-color: lightgrey;
}

.user-profile-right {
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: relative;
  background: #db4d29;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #db4d29 1%, #d66300 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#db4d29", endColorstr="#d66300",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: #F4F1EB;
  padding: 2em;
  padding-top: 6em;
}
@media only screen and (max-width: 400px) {
  .user-profile-right {
    padding-top: 2em;
  }
}
.user-profile-right .user-info-text {
  display: inline-flex;
  flex-direction: column;
}
.user-profile-right .user-info-text p {
  font-size: 0.9em;
  color: #F4F1EB;
}

.user-img-circle {
  width: 10em;
  height: auto;
  display: flex;
  align-self: center;
  padding: 0.5em;
}

.user-collection {
  display: flex;
  flex-direction: row;
}

.user-genres {
  display: flex;
  flex-direction: row;
}

.user-events {
  display: flex;
  flex-direction: row;
}

.user-events-attend {
  display: flex;
  flex-direction: row;
}

.user-profile-pic-big {
  max-width: 20em;
  height: auto;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.scrolling-wrapper-flexbox .card {
  flex: 0 0 auto;
}

h2.title_welcome {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 4em;
  background-color: #212426;
  color: #F4F1EB;
  padding: 0.3em 0.5em;
}
@media screen and (max-width: 320px) {
  h2.title_welcome {
    font-size: 2em;
  }
}

h3.subtitle_welcome {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  display: inline-block;
  background-color: #F4F1EB;
  color: #212426;
  padding: 0.3em 0.5em;
}
@media only screen and (max-width: 600px) {
  h3.subtitle_welcome {
    font-size: 1em;
  }
}

.logotag {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  text-align: center;
  background: linear-gradient(45deg, #058fd9b2, #d65008a1), url("../images/bgpic1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 6em;
}

.welcome {
  min-height: 25em;
  background-color: #265DCC;
  padding: 5em;
}

.section_events {
  background: linear-gradient(45deg, #f4ebd9c2, #058fd9d0), url("../images/bgpic1.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}

.section_games {
  background: linear-gradient(45deg, #058fd9b2, #d65008a1), url("../images/bgpic1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  text-align: right;
}

.section_connect {
  background: linear-gradient(45deg, #265dccbe, #f4ebd9b6), url("../images/bgpic1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.section_login {
  background-color: #D65108;
  text-align: center;
}

.navbar {
  background-color: #212426;
  color: #F4F1EB;
  font-size: 0.9em;
  font-family: "Assistant", sans-serif;
  z-index: 8999;
}
.navbar .navbar-toggler-icon {
  color: #160455;
}
.navbar a {
  color: #F4F1EB;
  padding-bottom: 0.2em;
  margin-bottom: 0.3em;
}
.navbar a:hover {
  color: #2CAEBB;
  border-bottom: 0.07em solid #F4F1EB;
}
.navbar a:active {
  color: #160455;
}

.sec-navbar {
  background: #002cae;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #002cae 0%, #2caebb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#002cae", endColorstr="#2caebb",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3em;
  padding: 0.6em 3em 0.4em 3em;
  justify-content: space-between;
  z-index: 7999;
}
@media only screen and (max-width: 400px) {
  .sec-navbar {
    padding: 0.6em 0.5em 0.4em 0.5em;
  }
}
.sec-navbar .pagination {
  margin-bottom: 0;
}
.sec-navbar h2 {
  color: #F4F1EB;
  font-size: 1.7em;
}
@media only screen and (max-width: 800px) {
  .sec-navbar h2 {
    font-size: 0.9em;
    padding: 0.3em;
  }
}
@media only screen and (max-width: 400px) {
  .sec-navbar h2 {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .sec-navbar .title-bar {
    font-size: 1em;
    padding: 0.1em;
  }
}

.fa fa-navicon {
  color: #D3D0CB;
}

div.modal div.modal-backdrop {
  z-index: 0;
}

.alert {
  position: fixed !important;
  top: 0px !important;
  left: 0px;
  width: 100%;
  z-index: 9999;
  border-radius: 0px;
}

.game-detail {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: auto auto;
  grid-template-areas: "header header " "pic text";
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  margin-bottom: 2rem;
  padding: 0 3rem;
}
.game-detail .lead {
  margin-bottom: 2rem;
}
.game-detail img {
  max-width: 40em;
}

.title {
  grid-area: header;
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  .title {
    font-size: 1.2em;
  }
}

.text {
  grid-area: text;
}

.pic {
  grid-area: pic;
}

@media (max-width: 600px) {
  .game-detail {
    display: flex;
    flex-direction: column;
  }
}
.comments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0.2em solid black;
}

.comments-reply {
  padding-left: 5em;
}

.comment-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: #DB4D29;
}
.comment-head .user-name {
  font-family: "Poppins", sans-serif;
  color: #F4F1EB;
}

.comment-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: #393E41;
  color: #D3D0CB;
}

#comment-reply {
  background-color: #D3D0CB;
  color: #393E41;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}
#comment-reply .form-group .reply {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}
a a:link {
  text-decoration: none;
  color: #2CAEBB;
}
a A:visited {
  text-decoration: none;
}
a A:hover {
  text-decoration: none;
}
a A:active {
  text-decoration: none;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4em;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
}

h4 {
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

h5 {
  font-family: "Assistant", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

h6 {
  font-family: "Assistant", sans-serif;
  font-style: italic;
}

.description {
  font-family: "Assistant", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}

.buttons-edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.btn-icon {
  padding: 0.4em !important;
  font-size: 0.6em !important;
  width: 3em;
  height: 3em;
}

.btn-xs {
  padding: 0.4em !important;
  font-size: 0.6em !important;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  color: #212426;
}

.card-text {
  font-family: "Assistant", sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #212426;
}

.card-body {
  background-color: #F4F1EB;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 400px) {
  .card-img-top {
    min-height: 10em;
  }
}

.card-event {
  background-color: #160455;
}
.card-event .card-body {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border-radius: 1em;
}
.card-event .card-body a {
  text-decoration: none;
  margin: 0.2;
  font-size: 1em;
  color: #F4F1EB;
}
.card-event .card-body a a:hover {
  color: #212426;
}
.card-event .buttons-edit {
  margin: 0.2rem;
}

.location-detail {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: auto auto;
  grid-template-areas: "header header " "maprouter text";
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  padding: 0 3rem;
}
.location-detail .lead {
  margin-bottom: 2rem;
}

.title {
  grid-area: header;
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  .title {
    font-size: 1.2em;
  }
}

.text {
  grid-area: text;
}

.maprouter {
  grid-area: maprouter;
}

@media (max-width: 600px) {
  .location-detail {
    display: flex;
    flex-direction: column;
  }
}
.rating {
  margin: 2rem 0;
  text-align: center;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Assistant", sans-serif;
  background-color: #F4F1EB;
  font-size: 0.9em;
  line-height: 1.1em;
}
body .container {
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 95vw;
  min-height: 82vh;
  margin: 0 auto;
}

.pagination {
  display: flex;
  align-self: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  justify-items: space-between;
  padding: 1em 3em 1em 3em;
}
@media only screen and (max-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    padding: 1em 1em 1em 1em;
  }
}
@media only screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    padding: 1em 1em 1em 1em;
  }
}
@media only screen and (max-width: 400px) {
  .grid-container {
    grid-template-columns: 1fr;
    padding: 1em 1em 1em 1em;
  }
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.scrolling-wrapper .card {
  display: inline-block;
}