@import url(https://fonts.googleapis.com/css?family=Assistant:400,700|Roboto+Slab:400,700" rel="stylesheet);.card-img-top {
  width: 100%;
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background-color: #2B2828;
  color: #fffbf2;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-items: center;
  text-align: center;
  width: 100%;
}

.footer_sections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .footer_sections {
    display: flex;
    flex-direction: column;
  }
}
.footer_section {
  margin: 2em;
  text-decoration: none;
  list-style-type: none;
  text-align: left;
}

/* Short Page */
.shortpage {
  background-color: #fffbf2;
  min-height: 90vh;
}

.comment {
  display: flex;
}

.comment .comment-left {
  width: 30%;
}

.comment .comment-right {
  width: 70%;
}

.comment .comment-right h2 {
  border: solid #9199a1;
  border-width: 0 0 1px 0;
}

.user-img-circle {
  padding: 2em 3em 2em 3em;
  height: auto;
}

.user-card-body {
  background-color: lightgrey;
}

.user-profile {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.user-profile-pic {
  width: 10em;
  height: auto;
}

.user-collection {
  display: flex;
  flex-direction: row;
}

.user-genres {
  display: flex;
  flex-direction: row;
}

.user-events {
  display: flex;
  flex-direction: row;
}

.user-events-attend {
  display: flex;
  flex-direction: row;
}

h2.title_welcome {
  display: inline-block;
  font-family: "Roboto Slab", serif !important;
  font-size: 4em;
  background-color: #2B2828;
  color: #fffbf2;
  padding: 0.2em 0.4em;
}

h3.subtitle_welcome {
  font-family: "Roboto Slab", serif !important;
  font-size: 2em;
  display: inline-block;
  background-color: #fffbf2;
  color: #2B2828;
  padding: 0.2em 0.4em;
}

.logotag {
  font-family: "Roboto Slab", serif !important;
  font-size: 2em;
  text-align: center;
  background: linear-gradient(45deg, #058fd9b2, #d65008a1), url("../images/bgpic1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 6em;
}

.welcome {
  min-height: 30em;
  background-color: #265DCC;
  padding: 4em;
}

.section_events {
  background: linear-gradient(45deg, #f4ebd9c2, #058fd9d0), url("../images/bgpic1.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}

.section_games {
  background: linear-gradient(45deg, #058fd9b2, #d65008a1), url("../images/bgpic1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  text-align: right;
}

.section_connect {
  background: linear-gradient(45deg, #265dccbe, #f4ebd9b6), url("../images/bgpic1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.section_login {
  background-color: #D65108;
  text-align: center;
}

.navbar {
  background-color: #2B2828;
  color: #fffbf2;
  font-size: 0.9em;
  font-family: "Assistant", sans-serif;
}
.navbar .navbar-toggler-icon {
  color: #fffbf2;
}
.navbar a {
  color: #fffbf2;
}
.navbar a:hover {
  color: #fffbf2;
  border-bottom: 0.1em solid #fffbf2;
}
.navbar a:active {
  color: #D65108;
}

div.modal div.modal-backdrop {
  z-index: 0;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.game-card {
  min-height: 27em;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Assistant", sans-serif;
}
body .container {
  padding-top: 5em;
}

p {
  line-height: 0.8em;
  margin-bottom: 0.5em;
}

h5 {
  font-family: "Roboto Slab", serif !important;
  font-size: 1.5em;
}

h6 {
  font-weight: 700;
}

.buttons-edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
  margin-top: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.btn-xs {
  padding: 0.4em !important;
  font-size: 0.6em !important;
}