* {
    box-sizing: border-box;
  }
  
body {
        margin: 0;
        min-height: 100%;
        padding-top: 5em;
    }

/* font-family: 'Roboto Slab', serif;
font-family: 'Assistant', sans-serif; */

h2.title_welcome {
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 4em;
    background-color: black;
    color: white;
    padding: 0.2em;
}

h3.subtitle_welcome {
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    display: inline-block;
    background-color: white;
    color: black;
    padding: 0.2em;
}


.logotag {
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    text-align: center;
}
.welcome 
{
    min-height: 25em;
    background-color: blue;
    padding: 3em;
    
}

.section_events {
    background:linear-gradient(45deg,rgba(0, 225, 255, 0.479),rgba(0, 60, 255, 0.3)), url('../img/board-game-529586_1280.jpg') no-repeat center;
    background-size: cover;
}

.section_games {
    background:linear-gradient(45deg,rgba(255, 0, 0, 0.479),rgba(255, 166, 0, 0.767)), url("../img/board-game-933165_1280.jpg")  no-repeat center;
    background-size: cover;
}

.section_connect {
    background:linear-gradient(45deg,rgba(51, 255, 0, 0.479),rgba(7, 51, 13, 0.767)), url("../img/game-340574_1280.jpg")  no-repeat center;
    background-size: cover;
}

label {
    color: white;
    font-size: 0.6em;
}

/* footer */

.footer {
    background-color: rgb(32, 32, 32);
    color: rgb(204, 204, 204);
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    justify-items: center;
    text-align: center;
}


.footer_sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

@media (max-width: 600px) {
    .footer_sections {
        display: flex;
        flex-direction: column;
    }
  }

.footer_section {
    margin: 2em;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
}

/* Short Page */

.shortpage {
    min-height: 100vh; 
}

.comment {
    display: flex;
}

.comment .comment-left {
    width: 30%;
}

.comment .comment-right {
    width: 70%;
}

.comment .comment-right h2 {
    border: solid #9199a1;
    border-width: 0 0 1px 0;
}

.user-avatar {
    max-width:100px;
    margin: 0 auto;
}

.user-name {
    text-align: center;
    padding: .3rem 1rem;
    font-size: 120%;
    font-weight: 500;
}
